.git
.dvc
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
.pytest_cache
.mypy_cache
.ipynb_checkpoints

mlruns
logs
*.log

research
notebooks

artifacts/*
!artifacts/training/
!artifacts/training/model.keras
