dill 

from-root 
notebook 
gdown 
flask-cors 
flask 


matplotlib 
numpy 
opencv-python 
pillow 
PyYAML 
requests 
scipy 
torch 
torchvision 
tqdm 
tensorboard 

pandas 
seaborn 
ipython
psutil 
thop 

.e 